p {
    font-family: Arial;
    text-align: center;
    font-size: 25px;
}

.header {
    font-size: 45px;
    font-weight: bold;
}

.change-color {
    line-height: 50px;
    color: rgb(70, 70, 253);
}