p {
    font-family: Arial;
    font-size: 25px;
    color: rgb(84, 71, 71);
    margin-top: 0;
    margin-bottom: 10px;
}

.header {
    font-size: 50px;
    color: black;
}

.green {
    color: green;
}

.red {
    color: red;
}