input {
    font: 30px;
    display: inline-block;
    padding: 10px 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}

.email {
    display: block;
    width: 308px;
    margin-top: 10px;
}

button {
    font-size: 20px;
    color: white;
    background-color: rgb(46, 46, 255);
    width: 330px;
    margin-top: 10px;
    padding: 12px 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
