button {
    width: 80px;
    height: 40px;
    vertical-align: top;
    margin-right: 10px;
    cursor: pointer;
}

.apply {
    color: white;
    font-weight: bold;
    width: 230px;
    background-color: rgb(10, 102, 194);
    border-radius: 20px;
    border: none;
}

.save {
    font-weight: bold;
    color: rgb(10, 102, 194);
    border-color: rgb(10, 102, 194);
    border-style: solid;
    border-radius: 20px;
}