div {
    font-family: Arial;
    width: 200px;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
    margin-top: 0;
    color: gray;
}

img {
    width: 200px;
    height: 190px;
    object-fit: cover;
    object-position: middle;
}

.name {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
}

p {
    margin-top: 5px;
    margin-left: 12px;
}

button {
    color: white;
    background-color: rgb(15, 98, 252);
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 12px;
    margin-left: 12px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}