button {
    font-size: 15px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.15s, background-color 0.15s, border-style 0.15s;
}

.get-started {
    border: none;
    color: white;
    background-color: rgb(121, 82, 179);
}

.get-started:hover {
    background-color: rgb(91, 51, 151);
}

.download {
    color: rgb(108, 117, 125);
    background-color: white;
    border-width: 0.5px;
    border-color: rgb(108, 117, 125);
}

.download:hover {
    color: white;
    background-color: rgb(108, 117, 125);
    border-style: solid;
}